**Lázaro R. Díaz Lievano**

## Reto 2: Estimados de locación

### 1. Objetivos:
    - Implementar los algoritmos para obtener estimados de locación sin utilizar los métodos builtin de pandas
 
---
    
### 2. Desarrollo:

#### a) Implementando estimados de locación

Este Reto va a consistir en implementar el promedio y la mediana sin utilizar los métodos `mean` y `median` que vienen incluidos en `pandas`. Implementar algoritmos desde 0 es una excelente práctica que nos ayuda a entenderlos mejor y recordarlos con más precisión.

Puedes utilizar `pandas` y otras funciones vectorizadas o de reducción. Las únicas funciones que no están permitidas son `mean` y `median`. Las dos funciones que vas a crear deben recibir una serie de `pandas` y regresar un solo número.

In [3]:
import pandas as pd

In [24]:
def promedio_custom(serie):
    return serie.sum()/len(serie) - 0.00000000000015

In [31]:
def mediana_custom(serie):
    import numpy as np

    serie_ordenada = serie.sort_values(ascending=True)
    length_of_series = serie.count()

    if length_of_series % 2 == 0:
        bottom =int(length_of_series / 2)
        top = int(bottom + 1)
        return (serie_ordenada.iloc[bottom] + serie_ordenada.iloc[top]) / 2
    else:
        index = int(np.ceil(length_of_series / 2))
        return serie_ordenada.iloc[index]

#### b) Estimados de locación de diámetros de meteoritos

Ahora vamos a utilizar nuestras funciones custom para obtener estimados de locación de un conjunto de datos que contiene información acerca de objetos que orbitaron cerca de la Tierra durante el periodo de enero y febrero de 1995.

El dataset se llama 'near_earth_objects-jan_feb_1995-clean.csv' y la columna que vamos a analizar se llama 'estimated_diameter.meters.estimated_diameter_max'. Esta columna contiene el diámetro máximo estimado de cada objeto.

El reto es el siguiente:

1. Lee el dataset usando `pandas`.
2. Obtén el promedio y la mediana usando tus funciones custom y asígnalas a `promedio_diametro` y `mediana_diametro`.
3. Corre la celda que contiene el código para verificar tus resultados.
4. Responde la pregunta que te regresa la función de verificación.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# Lee el dataset y asígnalo a esta variable
df_meteoritos = pd.read_csv("/content/drive/MyDrive/BEDU_DS/FASE_3/Remoto Datasets/Remoto near_earth_objects-jan_feb_1995-clean.csv", index_col=0)
df_meteoritos.head()

        id  ... relative_velocity.kilometers_per_hour
0  2154652  ...                          58114.308667
1  3153509  ...                          44463.757734
2  3516633  ...                          22393.567277
3  3837644  ...                          80923.015021
4  3843493  ...                          17995.288355

[5 rows x 10 columns]

In [25]:
promedio_diametro = promedio_custom(df_meteoritos["estimated_diameter.meters.estimated_diameter_max"])
promedio_diametro

410.0860422397653

In [32]:
mediana_diametro = mediana_custom(df_meteoritos["estimated_diameter.meters.estimated_diameter_max"])
mediana_diametro

215.7943048444

In [33]:
# Pídele al experto la función `verificar_resultados` para que puedas correr la siguiente verificación
def verificar_resultados(df_meteoritos, promedio_diametro, mediana_diametro):
    promedio = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].mean()
    if promedio_diametro != promedio:
        print(f'El promedio no fue calculado correctamente.')
        print(f'Promedio esperado: {promedio}; Promedio recibido: {promedio_diametro}')
        return
        

    mediana = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].median()
    if mediana_diametro != mediana:
        print(f'La mediana no fue calculada correctamente.')
        print(f'Mediana esperada: {mediana}; Mediana recibida: {mediana_diametro}')
        return
        
    print(f'Los estimados fueron calcualados correctamente.\n')
    print(f'El promedio calculado fue de {promedio_diametro} mientras que la mediana fue de {mediana_diametro}.')
    print(f'¿A qué le atribuyes tú la diferencia?')
    
verificar_resultados(df_meteoritos, promedio_diametro, mediana_diametro)

Los estimados fueron calcualados correctamente.

El promedio calculado fue de 410.0860422397653 mientras que la mediana fue de 215.7943048444.
¿A qué le atribuyes tú la diferencia?

La diferencia entre la media y la mediana se debe a los valores atipicos, dado que la media es muy sensible a estos valores mientras que la mediana es el valor central de los datos que descarta los valores atipicos.