**Lázaro R. Díaz Lievano**

# Reto 2: Tablas de frecuencias

### 1. Objetivos:
    - Aprender a generar tablas de frecuencias segmentando nuestros datos
 
---
    
### 2. Desarrollo:

#### a) Analizando distribución con tablas de frecuencias

Vamos a generar tablas de frecuencias de los siguientes datasets y columnas:

1. Dataset: 'near_earth_objects-jan_feb_1995-clean.csv'
    - Columnas a graficar: 'estimated_diameter.meters.estimated_diameter_max' y 'relative_velocity.kilometers_per_second'
2. Dataset: 'new_york_times_bestsellers-clean.json'
    - Columnas a graficar: 'price.numberDouble'
3. Dataset: 'melbourne_housing-clean.csv'
    - Columnas a graficar: 'land_size'
    
Estos conjuntos de datos son los mismos que graficamos en el Reto anterior. Antes de generar las tablas de frecuencias, revisa el rango de tus conjuntos de datos y decide el número de segmentos adecuado para cada uno.

Después, genera las tablas de frecuencias para cada uno de estos conjuntos de datos y compáralos con las gráficas de caja que realizaste en el Reto anterior. ¿Hay información nueva? ¿Qué ventajas o desventajas nos da esta nueva perspectiva?

Piensa cuál de las dos aproximaciones (boxplots y tablas de frecuencia) resulta más útil para detectar valores atípicos. ¿O simplemente son útiles en diferentes contextos?

In [ ]:
import pandas as pd
import json 
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df_houses=pd.read_csv("/content/drive/MyDrive/BEDU_DS/FASE_3/Remoto Datasets/Remoto melbourne_housing-clean.csv", index_col=0)
df_nasa=pd.read_csv("/content/drive/MyDrive/BEDU_DS/FASE_3/Remoto Datasets/Remoto near_earth_objects-jan_feb_1995-clean.csv", index_col=0)

ny=pd.read_json("/content/drive/MyDrive/BEDU_DS/FASE_3/Remoto Datasets/Remoto new_york_times_bestsellers-clean.json")
df_ny=pd.DataFrame.from_dict(ny)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##DF NASA

###Tabla de frecuencia de estimados máximos de los diametros de meteoritos.

In [ ]:
estim=df_nasa[ 'estimated_diameter.meters.estimated_diameter_max']
estim.max()-estim.min()
pd.cut(estim,18)

seg_estim = pd.cut(estim, 25)
#agrupamiento por segmento y luego los contamos
estim.groupby(seg_estim).count()

estimated_diameter.meters.estimated_diameter_max
(-3.535, 263.535]       175
(263.535, 524.091]       76
(524.091, 784.647]       38
(784.647, 1045.204]      17
(1045.204, 1305.76]      10
(1305.76, 1566.316]       4
(1566.316, 1826.872]      6
(1826.872, 2087.428]      0
(2087.428, 2347.985]      1
(2347.985, 2608.541]      1
(2608.541, 2869.097]      1
(2869.097, 3129.653]      1
(3129.653, 3390.209]      1
(3390.209, 3650.766]      0
(3650.766, 3911.322]      1
(3911.322, 4171.878]      0
(4171.878, 4432.434]      0
(4432.434, 4692.99]       0
(4692.99, 4953.547]       0
(4953.547, 5214.103]      0
(5214.103, 5474.659]      0
(5474.659, 5735.215]      0
(5735.215, 5995.771]      0
(5995.771, 6256.328]      0
(6256.328, 6516.884]      1
Name: estimated_diameter.meters.estimated_diameter_max, dtype: int64

###Tabla de frecuencia de velocidad relativa en km/s

In [ ]:
rel_v=df_nasa['relative_velocity.kilometers_per_second']
rel_v.max()-rel_v.min()

seg_rel = pd.cut(rel_v, 10)
#agrupamiento por segmento y luego los contamos
rel_v.groupby(seg_rel).count()

relative_velocity.kilometers_per_second
(0.642, 4.666]      19
(4.666, 8.651]      66
(8.651, 12.635]     59
(12.635, 16.62]     67
(16.62, 20.604]     54
(20.604, 24.589]    25
(24.589, 28.574]    17
(28.574, 32.558]    16
(32.558, 36.543]     5
(36.543, 40.527]     5
Name: relative_velocity.kilometers_per_second, dtype: int64

##DF BESTSELLERS

###Tabla de frecuencias de los precios de los libros bestsellers

In [ ]:
ny_price=df_ny["price.numberDouble"]
ny_price.max()-ny_price.min()

seg_ny = pd.cut(ny_price, 4)
#agrupamiento por segmento y luego los contamos
ny_price.groupby(seg_ny).count()

price.numberDouble
(14.97, 19.99]      47
(19.99, 24.99]     479
(24.99, 29.99]    2486
(29.99, 34.99]      21
Name: price.numberDouble, dtype: int64

##DF MELBOURNE

###Tabla de frecuencias de los tamaños de los terrenos en Melbourne.

In [ ]:
house_size=df_houses["land_size"]
house_size.max()-house_size.min()

seg_house = pd.cut(house_size, 20)
#agrupamiento por segmento y luego los contamos
house_size.groupby(seg_house).count()

land_size
(-76.0, 3800.0]       11560
(3800.0, 7600.0]         59
(7600.0, 11400.0]         9
(11400.0, 15200.0]        3
(15200.0, 19000.0]        7
(19000.0, 22800.0]        2
(22800.0, 26600.0]        0
(26600.0, 30400.0]        0
(30400.0, 34200.0]        0
(34200.0, 38000.0]        2
(38000.0, 41800.0]        2
(41800.0, 45600.0]        0
(45600.0, 49400.0]        0
(49400.0, 53200.0]        0
(53200.0, 57000.0]        0
(57000.0, 60800.0]        0
(60800.0, 64600.0]        0
(64600.0, 68400.0]        0
(68400.0, 72200.0]        0
(72200.0, 76000.0]        2
Name: land_size, dtype: int64